
/*.todo-add-form {
  margin: 40px 0 10px;

}

.todo-add-input {
  outline: none;
  border: 0;
  border-bottom: 1px dotted #666;
  border-radius: 0;
  padding: 0 0 5px 0;
  color: #fff;
  background: transparent;
  height: 50px;
}

.todo-add-input::placeholder {
  color: #999;
}*/
